<img src="myisland.jpg" alt="Tropical Island" height="480" wi
‹style>
figure { width: 640px; padding: 5px;
border: 1px solid #000000; }
figcaption { text-align: center;
font-family: Papyrus, fantasy; }
</style>
‹figure>
<img src="myisland.png" width="640" height="480" alt="Trop ‹figcaption> Tropical Island Getaway</figcaption>
</figure